name: Test
permissions: read-all

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        activate-environment: WADAS
        environment-file: wadas/conda_env_setup.yml
        auto-activate-base: false
    - run: |
        conda info
        conda list
    - name: Login to Hugging Face
      run: |
        huggingface-cli login --token ${{ secrets.WADAS_OFFICIAL_HUGGINGF_AUTH }} --add-to-git-credential
    - name: Install QT dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y '^libxcb.*-dev' libx11-xcb-dev libglu1-mesa-dev libxrender-dev libxi-dev libxkbcommon-dev libxkbcommon-x11-dev libegl1 libxcb-cursor0 xvfb
    - name: Run tests
      run: |
        xvfb-run python -m pytest test -sv --cov=. --cov-report=html
        # To enforce minimum coverage, uncomment the following line:
        # xvfb-run python -m pytest test -sv --cov=. --cov-report=html --cov-fail-under=80
    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: htmlcov/